body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.js{
  background-color: yellow;
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 220px;
  
}